---
import ContactLinks from "./ContactLinks.astro";
import { siteConfig } from "../config/runtime-site-config";
---

<div class="footer-details">
  <ContactLinks />
  <p class="design-credit">
    <span>{siteConfig.designCredit.prefix}</span>
    <a href={siteConfig.designCredit.href} target="_blank" rel="noopener noreferrer">{siteConfig.designCredit.label} {siteConfig.designCredit.suffix && <span aria-hidden="true">{siteConfig.designCredit.suffix}</span>}</a>
  </p>
</div>
